// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-select .card {
  opacity: 0.6;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &.selected {
    opacity: 1;
  }
}
