/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require materialize.clockpicker.css
 *= require albums
 * require_tree .
 */

@import "components/color";

/* $primary-color: #004C75; */

@import "components/variables";

$roboto-font-path: "/assets/roboto/";

// Generate hover classes
@each $color_name, $color in $colors {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .hover-#{$color_name}:hover {
        background-color: $color_value !important;
      }
      .hover-#{$color_name}-text:hover {
        color: $color_value !important;
      }
    }
    @else if $color_name != "shades" {
      .hover-#{$color_name}.hover-#{$color_type}:hover {
        background-color: $color_value !important;
      }
      .hover-#{$color_name}-text.hover-text-#{$color_type}:hover {
        color: $color_value !important;
      }
    }
  }
}

// Shade classes
@each $color, $color_value in $shades {
  .hover-#{$color}:hover {
    background-color: $color_value !important;
  }
  .hover-#{$color}-text:hover {
    color: $color_value !important;
  }
}

@import "materialize";

body {
  background-image: url('/assets/002-Watercolor-Paper.png');
}

main {
  .row:first-child {
    margin-top: 20px;
  }

  .row:last-child {
    margin-bottom: 0;
  }
}

nav.main-nav.nav-extended .nav-wrapper {
  min-height: 0;
}

.nav-extended .logo-wrapper {
  height: 30px;
  line-height: 2em;
}

.logo-wrapper {
  @extend .blue.darken-4;

  overflow: hidden;

  ul a {
    margin-right: -15px;
  }

  .brand-logo {
    height: 100%;
  }

  .container {
    height: 100%;
  }

  img {
    height: 100%;
    padding: 2px;
    vertical-align: top;
  }
}

.card .card-image {
  overflow: hidden;
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #333;
    background-color: rgba(0,0,0,0.5);

    .background-blur {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      background-size: 100%;
      background-position: bottom left;

      -webkit-filter: blur(15px);
      -moz-filter: blur(15px);
      -o-filter: blur(15px);
      -ms-filter: blur(15px);
      filter: blur(15px);

      &:before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #333;
        background-color: rgba(0,0,0,0.5);

        content: ' ';
      }
    }

    .card-title {
      position: relative;
      padding: 0;
      z-index: 2;
    }

    p {
      position: relative;
      z-index: 2;
    }
  }
}

.btn.pulse {
  position: relative;
  z-index: 2;

  &:before {
    left: 0;
  }
}
