<!-- Please replace this shitty email with a not shitty email -->
<p>Hi <%= @user.first_name if @user %>,</p>
<p>Attached, find a zipped copy of your album, <%= @album_name %></p>
<p>
  Cheers,<br/>
  CliqPic
</p>
